@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap');

.agregar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;              /* evita crecer más que la pantalla */
    background-color: #B78752;
    padding: 1.5rem;
    overflow: hidden;           /* bloquea scroll en la pantalla */
}


.agregar-card {
    background: white;
    padding: 2rem;
    width: 26rem;
    border-radius: 1.25rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: left;
    font-family: 'AR One Sans', sans-serif;
    max-height: 90vh;        /* se ajusta a pantallas pequeñas */
    overflow-y: auto;  
}

.agregar-title {
    color: #C4804D;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.agregar-subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
}

.form-group {
    margin-bottom: 1.2rem;
}

.form-label {
    display: block;
    margin-bottom: 0.4rem;
    color: #333;
    padding-left: 0.4rem;
}

.form-input,
.form-select,
.form-file,
.form-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #808080;
    border-radius: 0.75rem;
    font-size: 1rem;
}

.form-textarea {
    min-height: 4rem;
    resize: none;
}

.botonera {
    margin-top: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.btn-cancelar,
.btn-registrar {
    width: 45%;
    padding: 0.6rem;
    border-radius: 0.75rem;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    font-family: 'AR One Sans', sans-serif;
}

.btn-cancelar {
    background: #BC6C25;
    color: white;
}

.btn-cancelar:hover {
    background: #a55d20;
}

.btn-registrar {
    background: #BC6C25;
    color: white;
}

.btn-registrar:hover {
    background: #a55d20;
}

/* Responsive */

@media (max-width: 500px) {
    .agregar-card {
        width: 90%;
    }
}
