/* FONDO GENERAL */
.agregar-container {
  width: 100%;
  height: 100vh;
  background: #b8864f; /* Color del fondo del mockup */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TARJETA */
.agregar-card {
  width: 380px;
  background: white;
  border-radius: 16px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* TITULOS */
.agregar-title {
  text-align: center;
  color: #b46e2b;
  font-size: 26px;
  margin: 0;
}

.agregar-subtitle {
  text-align: center;
  margin-bottom: 25px;
  font-size: 14px;
  color: #444;
}

/* FORMULARIO */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-label {
  font-size: 13px;
  margin-bottom: 5px;
  color: #333;
}

.form-input,
.form-select,
.form-textarea,
.form-file {
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  color: #333;
}

.form-textarea {
  height: 65px;
  resize: none;
}

/* BOTONES */
.botonera {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-cancelar,
.btn-registrar {
  width: 120px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #c06d2d;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-cancelar:hover,
.btn-registrar:hover {
  background: #a95a21;
}
